# Checked in CI (clang-format 18). Run before committing:
#   clang-format -i $(git ls-files 'src/*.h' 'src/*.cpp' 'tests/*.h' 'tests/*.cpp')
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
Cpp11BracedListStyle: true
